 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>


  <div class="box" id="heading">
    <h1><%=kindofday %></h1>
  </div>


<div class="box">

  <% newlistitems.forEach(function(item){ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= item._id%>"onChange="this.form.submit()">
      <p><%=item.name %></p>
      </div>
    </form>


  <% }); %>


  <form class="item" action="/" method="post">
    <input  type="text" name="newitem" placeholder="New Item" autocomplete="off">
    <button type="submit" name="button">+</button>
  </form>


</div>







  </body>
</html>
